@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&family=Shrikhand&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  50% {
    opacity: 0.1;
    transform: translateY(35px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes pulse {
  to {
    transform: scale(1.4);
    opacity: 0;
  }
}
@keyframes disparition {
  from {
    opacity: 1;
    z-index: 99;
  }
  to {
    opacity: 0;
    z-index: -5;
  }
}
.process__wrapper, .discover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title__box__menu, .process__slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title__box__menu, .title_box_section, .discover__title {
  font-size: 1.2em;
  font-weight: 700;
}

.loading_i, .circlespinner2, .circlespinner1, .spinner_container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn__cta {
  width: 230px;
  height: 50px;
  margin-bottom: 30px;
  background: rgb(147, 86, 220);
  background: linear-gradient(354deg, rgb(147, 86, 220) 0%, rgb(213, 107, 219) 67%, rgb(255, 121, 218) 100%);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  border: white;
  cursor: pointer;
}
.btn__cta:after {
  position: relative;
  top: -19px;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(50deg, rgb(147, 86, 220) 0%, rgb(213, 107, 219) 67%, rgb(255, 121, 218) 100%);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
.btn__cta:hover::after {
  opacity: 1;
}

.box__menu, .process__slide {
  width: 330px;
  height: 65px;
  margin-bottom: 15px;
  border-radius: 15px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

li,
p {
  font-family: "roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

body {
  margin: auto;
  width: 375px;
}

.logo__header__holder {
  text-align: center;
}

.logo__header__omf {
  margin-top: 30px;
  margin-bottom: 10px;
  height: 1.75em;
}

.location {
  display: flex;
  height: 50px;
  background-color: #eaeaea;
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.location__pin {
  position: relative;
  top: 15px;
  left: 105px;
}
.location__ville {
  margin: auto;
}

.discover {
  background-color: #f6f6f6;
}
.discover__title {
  text-align: center;
  width: 240px;
  margin-top: 35px;
}
.discover__info {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
}
.discover__btn {
  margin-bottom: 30px;
}

.description__cta {
  position: relative;
  top: 15px;
  z-index: 5;
  font-size: 1.2em;
  color: white;
}

.title_box_section {
  margin: 0px 0px 20px 20px;
  padding-top: 50px;
}

.process {
  margin-bottom: 50px;
}
.process__slide {
  justify-content: flex-start;
}
.process__slide__text {
  font-weight: 600;
}
.process__slide:hover {
  cursor: pointer;
  box-shadow: inset rgba(147, 86, 220, 0.2) 0px 10px 50px;
}
.process__slide:hover .margin_ico_grey {
  color: #9356DC;
}

.process_number {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background-color: #9356DC;
  font-size: 0.9em;
  color: white;
  position: relative;
  left: -12px;
}
.process_number > p {
  position: relative;
  top: 4px;
  left: 8px;
}

.margin_ico_grey {
  margin-left: 15px;
  margin-right: 30px;
  color: grey;
}

.restaurant {
  background-color: #f6f6f6;
  padding-bottom: 4px;
}

.restaurant_card_image_all {
  width: 100%;
  height: 175px;
  object-fit: cover;
}

.restaurant__wrapper {
  width: 335px;
  margin: auto;
}

.restaurant__card {
  width: 335px;
  height: 250px;
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.restaurant__info {
  height: 55px;
  margin-left: 15px;
}
.restaurant__info__title {
  font-weight: 600;
  margin: 10px 0px 5px 0px;
}
.restaurant__info__sub {
  font-weight: 400;
}

.restaurant__heart__acceuil :hover::after, .restaurant__heartpage :hover::after {
  opacity: 1;
}
.restaurant__heart__page {
  position: relative;
}

.fa-heart {
  font-size: 1.5em;
  color: black;
  cursor: pointer;
}
.fa-heart::after {
  position: absolute;
  top: 0px;
  left: 0px;
  content: "\f004";
  font-weight: 900;
  display: block;
  width: 100%;
  height: 100%;
  color: rgb(147, 86, 220);
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.placement_heart_i {
  position: relative;
  top: -50px;
  left: 290px;
}

.new_sticker {
  width: 80px;
  height: 30px;
  background-color: #99E2D0;
  position: relative;
  top: -250px;
  left: 240px;
  border-radius: 3px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
.new_sticker > p {
  color: #1b6150;
  text-align: center;
  padding-top: 7px;
  font-size: 0.9em;
}

footer {
  height: 200px;
  background-color: #353535;
  color: white;
}
footer > p {
  font-family: "Shrikhand", cursive;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  padding-top: 15px;
  margin: 0px 0px 10px 25px;
  color: white;
}

.list__footer {
  margin-left: 15px;
}

.list__footer__li {
  margin: 10px;
}
.list__footer__li > a {
  color: white;
}

.box_i {
  width: 20px;
}

.i_rotate {
  transform: rotate(-15deg);
  font-size: 0.65em;
}

.fa-arrow-left {
  position: relative;
  top: -20px;
  left: -70px;
}

.image_background {
  width: 100%;
  height: 250px;
  object-fit: cover;
  position: relative;
  margin-bottom: -50px;
}

.menu__display {
  position: relative;
  background-color: #f6f6f6;
  border-radius: 45px 45px 0px 0px;
  padding-bottom: 1px;
}

.title__box__menu {
  width: 335px;
  margin: auto;
  padding-top: 15px;
  justify-content: space-between;
  cursor: pointer;
}
.title__box__menu:hover .fa-heart::after {
  opacity: 1;
}

.heart_restaurant {
  margin-right: 30px;
}

.menu_titre {
  text-transform: uppercase;
  margin-left: 15px;
  padding-top: 15px;
}

.underline {
  width: 40px;
  height: 3px;
  margin-left: 15px;
  border-bottom: solid #99E2D0 3px;
}

.box__menu {
  width: 360px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 15px auto;
  overflow: hidden;
  background-color: white;
  cursor: pointer;
}
.box__menu:hover .box__menu__info {
  width: 200px;
  transition: 0.7s ease-in-out;
  transform-origin: left;
}
.box__menu:hover .menu__hover__text {
  transform: scaleX(1);
}
.box__menu:hover .rotate {
  transform: rotate(360deg);
}

.box__menu__info {
  width: 300px;
  margin: auto 0px auto 15px;
}
.box__menu__info__title {
  width: 300px;
  font-weight: 600;
  white-space: nowrap;
  margin-right: 150px;
}
.box__menu__info__sub {
  font-size: 0.8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  margin: auto;
  padding-top: 15px;
}

.menu__hover__text {
  width: 50px;
  height: 100%;
  background-color: #99E2D0;
  transform: scaleX(0);
  transition: 1s ease;
  transform-origin: center right;
}

.hover_icone {
  width: 100%;
  margin-top: 20px;
}
.hover_icone_circle {
  width: 20px;
  height: 20px;
  border: 1px white solid;
  background-color: white;
  border-radius: 50%;
}
.hover_icone_circle {
  margin: auto;
}

.fa-check {
  color: #99E2D0;
}

.rotate {
  transition: 1.2s ease;
}

.fa-check {
  position: relative;
  top: 3px;
  left: 3px;
}

.btn_commander {
  width: 230px;
  margin: 40px auto;
}

.fadein1 {
  animation: apparition 0.4s linear;
}

.fadein2 {
  animation: apparition 0.6s linear;
}

.fadein3 {
  animation: apparition 0.8s linear;
}

.fadein4 {
  animation: apparition 1s linear;
}

.loader_spinner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  opacity: 1;
  animation: disparition 1s forwards;
  animation-delay: 5s;
}

.spinner_container {
  width: 375px;
  height: 400px;
}

.circlespinner1 {
  width: 100px;
  height: 100px;
  border: #9356DC 2px solid;
  border-radius: 50px;
}
.circlespinner1::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #9356DC;
  top: 0;
  left: 0;
  animation: pulse 1.5s 3 ease-out;
}

.circlespinner2 {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: #FF79DA;
  border: #FF79DA 2px solid;
}

.loading_i {
  font-size: 2em;
  color: white;
}

/*# sourceMappingURL=style_phone.css.map */
