//Reset
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&family=Shrikhand&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

// Couleurs du theme
$prim-color:#9356DC;
$sd-color: #FF79DA;
$ter-color:#99E2D0;
// Font du theme
$font-title: 'Shrikhand',
cursive;
$font-text:'roboto',
sans-serif;