@import './_variables.scss';
@import './mixins.scss';
@import './_placeholders.scss';
li,
p {
    font-family: $font-text;
}

h1 {
    font-family: $font-title;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

body {
    margin: auto;
    width: 100%;
    min-width: 375px;
    height: 100vh;
}

// Fin de la base du CSS
//
.logo__header__holder {
    text-align: center;
}

.logo__header__omf {
    margin-top: 30px;
    margin-bottom: 10px;
    height: 1.75em;
}

// Fin du header
//
.location {
    display: flex;
    flex-direction: row;
    height: 50px;
    background-color: #eaeaea;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.2);
    &__ville {
        position: relative;
        margin: auto;
    }
    &__pin {
        position: absolute;
        left: -30px;
    }
}

// Fin de la section Location
//
.discover {
    background-color: #f6f6f6;
    @extend %flex_column_center;
    &__title {
        text-align: center;
        width: 240px;
        margin-top: 35px;
        @extend %title_fw700_fs1-2em;
    }
    &__info {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 30px;
    }
    &__btn {
        margin-bottom: 30px;
    }
}

.btn__cta {
    @extend %btn_cta;
    @include font_size_color(1em, white);
}

// Fin de la section Exploration
//
.title_box_section {
    @extend %title_fw700_fs1-2em;
    margin: 0px 0px 20px 20px;
    padding-top: 50px;
}

.process {
    margin-bottom: 50px;
    &__wrapper {
        @extend %flex_column_center;
    }
    &__slide {
        @extend %flex_row_center;
        justify-content: flex-start;
        @extend %card_selector;
        &__text {
            font-weight: 600;
        }
        &:hover {
            cursor: pointer;
            box-shadow: inset rgba( 147, 86, 220, 0.2) 0px 10px 50px;
        }
        &:hover .margin_ico_grey {
            color: $prim-color;
        }
    }
}

.process_number {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color: $prim-color;
    @include font_size_color(0.9em, white);
    position: relative;
    left: -12px;
    &>p {
        position: relative;
        top: 4px;
        left: 8px;
    }
}

.margin_ico_grey {
    margin-left: 15px;
    margin-right: 30px;
    color: grey;
}

// Fin de la section Fonctionnement
//
.restaurant {
    background-color: #f6f6f6;
    padding-bottom: 4px;
}

.restaurant_card_image_all {
    width: 100%;
    height: 175px;
    object-fit: cover;
}

.restaurant__wrapper {
    width: 335px;
    margin: auto;
    @extend %flex_column_center;
}

.restaurant__card {
    width: 335px;
    height: 250px;
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.restaurant__info {
    height: 55px;
    margin-left: 15px;
    &__title {
        font-weight: 600;
        margin: 10px 0px 5px 0px;
    }
    &__sub {
        font-weight: 400;
    }
}

.restaurant__heart {
    &__acceuil {
         :hover::after {
            opacity: 1;
        }
    }
    &__page {
        position: relative;
        &:hover .fa-heart::after {
            opacity: 1;
        }
    }
}

.fa-heart {
    font-size: 1.5em;
    color: black;
    cursor: pointer;
    &::after {
        position: absolute;
        top: 0px;
        left: 0px;
        content: "\f004";
        font-weight: 900;
        display: block;
        width: 100%;
        height: 100%;
        color: rgba(147, 86, 220, 1);
        opacity: 0;
        transition: opacity 0.5s ease-out;
    }
}

.placement_heart_i {
    position: relative;
    top: -50px;
    left: 290px;
}

.new_sticker {
    width: 80px;
    height: 30px;
    background-color: $ter-color;
    position: relative;
    top: -250px;
    left: 240px;
    border-radius: 3px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    &>p {
        color: darken($ter-color, 50%);
        text-align: center;
        padding-top: 7px;
        font-size: 0.9em;
    }
}

// Fin de la section Restaurant
//
.footer {
    height: 200px;
    background-color: #353535;
    color: white;
    &>p {
        font-family: $font-title;
        font-size: 1.2em;
        letter-spacing: 0.05em;
        padding-top: 15px;
        margin: 0px 0px 10px 25px;
        color: white;
    }
}

.footer ul {
    margin-left: 15px;
}

.footer ul li {
    margin: 10px;
    &>a {
        color: white;
    }
}

.box_i {
    width: 20px;
}

.i_rotate {
    transform: rotate(-15deg);
    font-size: 0.65em;
}

// Fin du Footer
//
.fa-arrow-left {
    position: relative;
    top: -20px;
    left: -70px;
}

.image_background {
    width: 100%;
    height: 250px;
    object-fit: cover;
    position: relative;
    margin-bottom: -50px;
}

.menu__display {
    position: relative;
    background-color: #f6f6f6;
    border-radius: 45px 45px 0px 0px;
    padding-bottom: 1px;
}

.title__box__menu {
    width: 335px;
    margin: auto;
    padding-top: 15px;
    @extend %flex_row_center;
    justify-content: space-between;
    @extend %title_fw700_fs1-2em;
    cursor: pointer;
}

.heart_restaurant {
    margin-right: 30px;
}

.menu_titre {
    text-transform: uppercase;
    margin-left: 15px;
    padding-top: 15px;
    margin-bottom: 4px;
}

.underline {
    width: 40px;
    height: 3px;
    margin-left: 15px;
    border-bottom: solid $ter-color 3px;
}

.btn_commander {
    width: 230px;
    margin: 40px auto;
}

// Fin des pages menus
//
// 
// Debut systeme box__menu + effet hover
//
.box__menu {
    width: 360px;
    height: 60px;
    @extend %card_selector;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 15px auto;
    overflow: hidden;
    background-color: white;
    cursor: pointer;
    &:hover .box__menu__info {
        width: 200px;
        transition: 0.7s ease-in-out;
        transform-origin: left;
    }
    &:hover .menu__hover__text {
        transform: scaleX(1);
    }
    &:hover .rotate {
        transform: rotate(360deg);
    }
    &:hover .price {
        padding-left: 45px;
    }
}

.box__menu__info {
    width: 300px;
    margin: auto 0px auto 15px;
    &__title {
        width: 300px;
        font-weight: 600;
        white-space: nowrap;
        margin-right: 150px;
        line-height: 1.5;
    }
    &__sub {
        font-size: 0.8em;
        font-weight: 100;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.price {
    transition: all 0.5s;
    margin: auto;
    padding-top: 20px;
    font-size: 0.85em;
    font-weight: 500;
}

.menu__hover__text {
    width: 50px;
    height: 100%;
    background-color: $ter-color;
    transform: scaleX(0);
    transition: 1s ease;
    transform-origin: center right;
}

.hover_icone {
    width: 100%;
    margin-top: 20px;
    &_circle {
        width: 20px;
        height: 20px;
        background: white;
        border-radius: 50%;
        margin: auto;
    }
}

.rotate {
    transition: 1.2s ease;
}

.fa-check {
    color: $ter-color;
    position: relative;
    top: 3px;
    left: 3px;
}

// Fin du systeme box__menu + effet hover
//
// 
// Debut Fadein
//
.fadein1 {
    animation: apparition 0.4s linear;
}

.fadein2 {
    animation: apparition 0.6s linear;
}

.fadein3 {
    animation: apparition 0.8s linear;
}

.fadein4 {
    animation: apparition 1s linear;
}

// 
// Fin Fadein
//
// 
// Debut Spinner
//
.loader_container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    opacity: 1;
    animation: disparition 1s forwards;
    animation-delay: 3s;
}

.loader_circle {
    @extend %relative_centre;
    width: 100px;
    height: 100px;
    background-color: $sd-color;
    border-radius: 50px;
    &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: $prim-color;
        top: 0;
        left: 0;
        animation: pulse 1s 3 ease-out;
    }
}

.loading_i {
    @extend %relative_centre;
    font-size: 2em;
    color: white;
}

// 
// Fin Spinner
//