@import './_variables.scss';
@import './mixins.scss';
@import './_placeholders.scss';
li,
p {
    font-family: $font-text;
}

h1 {
    font-family: $font-title;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

body {
    margin: auto;
    width: 375px;
}

// Fin de la base du CSS
//
.logo__header__holder {
    text-align: center;
}

.logo__header__omf {
    margin-top: 30px;
    margin-bottom: 10px;
    height: 1.75em;
}

// Fin du header
//
.location {
    display: flex;
    height: 50px;
    background-color: #eaeaea;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.2);
    &__pin {
        position: relative;
        top: 15px;
        left: 105px;
    }
    &__ville {
        margin: auto;
    }
}

// Fin de la section Location
//
.discover {
    background-color: #f6f6f6;
    @extend %flex_column_center;
    &__title {
        text-align: center;
        width: 240px;
        margin-top: 35px;
        @extend %title_fw700_fs1-2em;
    }
    &__info {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 30px;
    }
    &__btn {
        margin-bottom: 30px;
    }
}

.btn__cta {
    @extend %btn_cta;
}

.description__cta {
    @include font_size_color(1.2em, white);
}

// Fin de la section Exploration
//
.title_box_section {
    @extend %title_fw700_fs1-2em;
    margin: 0px 0px 20px 20px;
    padding-top: 50px;
}

.process {
    margin-bottom: 50px;
    &__wrapper {
        @extend %flex_column_center;
    }
    &__slide {
        @extend %flex_row_center;
        justify-content: flex-start;
        @extend %card_selector;
        &__text {
            font-weight: 600;
        }
        &:hover {
            cursor: pointer;
            box-shadow: inset rgba( 147, 86, 220, 0.2) 0px 10px 50px;
        }
        &:hover .margin_ico_grey {
            color: $prim-color;
        }
    }
}

.process_number {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color: $prim-color;
    @include font_size_color(0.9em, white);
    position: relative;
    left: -12px;
    &>p {
        position: relative;
        top: 4px;
        left: 8px;
    }
}

.margin_ico_grey {
    margin-left: 15px;
    margin-right: 30px;
    color: grey;
}

// Fin de la section Fonctionnement
//
.restaurant {
    background-color: #f6f6f6;
    padding-bottom: 4px;
}

.restaurant_card_image_all {
    width: 100%;
    height: 175px;
    object-fit: cover;
}

.restaurant__wrapper {
    width: 335px;
    margin: auto;
}

.restaurant__card {
    width: 100%;
    height: 250px;
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.restaurant__info {
    height: 55px;
    margin-left: 15px;
    &__title {
        font-weight: 600;
        margin: 10px 0px 5px 0px;
    }
    &__sub {
        font-weight: 400;
    }
}

.fa-heart {
    font-size: 1.5em;
    color: black;
    &:hover {
        transition: all 2s ease;
        font-weight: 900;
        color: rgba(147, 86, 220, 1);
        cursor: pointer;
    }
}

.placement_heart_i {
    position: relative;
    top: -50px;
    left: 290px;
}

.new_sticker {
    width: 80px;
    height: 30px;
    background-color: $ter-color;
    position: relative;
    top: -250px;
    left: 240px;
    border-radius: 3px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    &>p {
        color: darken($ter-color, 50%);
        text-align: center;
        padding-top: 7px;
        font-size: 0.9em;
    }
}

// Fin de la section Restaurant
//
footer {
    height: 200px;
    background-color: #353535;
    color: white;
    &>p {
        font-family: $font-title;
        font-size: 1.2em;
        letter-spacing: 0.05em;
        padding-top: 15px;
        margin: 0px 0px 10px 25px;
        color: white;
    }
}

.list__footer {
    margin-left: 15px;
}

.list__footer__li {
    margin: 10px;
    &>a {
        color: white;
    }
}

.box_i {
    width: 20px;
}

.i_rotate {
    transform: rotate(-15deg);
    font-size: 0.65em;
}

// Fin du Footer
//
.fa-arrow-left {
    position: relative;
    top: -20px;
    left: -70px;
}

.image_background {
    width: 375px;
    position: relative;
    margin-bottom: -50px;
}

.menu__display {
    position: relative;
    // top: -50px;
    background-color: #f6f6f6;
    border-radius: 45px 45px 0px 0px;
    padding-bottom: 1px;
}

.title__box__menu {
    padding: 15px;
    padding-top: 35px;
    @extend %flex_row_center;
    justify-content: space-between;
    @extend %title_fw700_fs1-2em;
}

.heart_restaurant {
    margin-right: 30px;
}

.menu_titre {
    text-transform: uppercase;
    margin-left: 15px;
    padding-top: 15px;
}

.underline {
    width: 40px;
    height: 3px;
    margin-left: 15px;
    border-bottom: solid $ter-color 3px;
}

// 
// Debut systeme box__menu + effet hover
.box__menu {
    width: 360px;
    height: 60px;
    @extend %card_selector;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 15px auto;
    overflow: hidden;
    background-color: white;
    cursor: pointer;
    &:hover .box__menu__info {
        width: 200px;
        transition: 0.7s ease-in-out;
        transform-origin: left;
    }
    &:hover .menu__hover__text {
        transform: scaleX(1);
    }
    &:hover .rotate {
        transform: rotate(360deg);
    }
    //
    // effet de ressort à l'apparition du prix
    // &:hover .price {
    //     padding-left: 45px;
    // }
    //
    //
}

.box__menu__info {
    width: 300px;
    margin: auto 0px auto 15px;
    &__title {
        width: 300px;
        font-weight: 600;
        white-space: nowrap;
        margin-right: 150px;
    }
    &__sub {
        font-size: 0.8em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.price {
    // transition: all 0.5s;
    margin: auto;
    padding-top: 15px
}

.menu__hover__text {
    width: 50px;
    height: 100%;
    background-color: $ter-color;
    transform: scaleX(0);
    transition: 1s ease;
    transform-origin: center right;
}

.hover_icone {
    width: 100%;
    margin-top: 20px;
    &_circle {
        width: 20px;
        height: 20px;
        border: 1px white solid;
        background-color: white;
        border-radius: 50%;
    }
    &_circle {
        margin: auto;
    }
}

.fa-check {
    color: $ter-color;
}

.rotate {
    transition: 1.2s ease;
}

.fa-check {
    position: relative;
    top: 3px;
    left: 3px;
}

// Fin du systeme box__menu + effet hover
//
.btn_commander {
    width: 230px;
    margin: 40px auto;
}

// Fin des pages menus
//